function proj() {
    if [ -z "$1" ]; then
        echo "Provide a project name";
        return;
    fi

    if [ "$1" == "test" ] || [ "$1" == "test" ]; then
        cd ~/Sites/test || return;
    fi
}

function bloody() {
    if [ -z "$1" ]; then
        echo "Provide a command";
        return;
    fi

    if [ "$1" == "cache" ]; then
        artisan cache:clear || return;
    fi

    if [ "$1" == "migrations" ]; then
        artisan migrate:fresh --seed || return;
    fi

    if [ "$1" == "hell" ]; then
        echo "AAARRRRGHHHH" || return;
    fi
}
